/* Based on enough.css, https://jeffkreeftmeijer.github.io/enough.css, with some of my own tweaks */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --block-border-color: #3a3e41;
  }
}

h2 {
  font-size: 22pt;
}

ul.inline-list {
  display: inline;
  position: absolute;
  text-align: center;
}

ul.inline-list > li {
  display: inline;
}

a {
  color: #3391ff;
}

nav {
  margin-top: 6em;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}

article {
  margin-bottom: 5rem;
}

body {
  font:
    22px/1.6 system-ui,
    sans-serif;
  margin: auto;
  max-width: 35em;
  padding: 0 1em;
}
img,
video {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1140px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 740px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 466px) {
  body {
    font-size: 16px;
  }
}

code,
kbd,
pre {
  font-family: ui-monospace, SFMono-Regular, Monaco, monospace;
}

pre {
  border: 1px solid var(--block-border-color);
  background-color: var(--block-bg-color);
  font-size: smaller;
  overflow: auto;
  padding: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 0.5em;
  border: 1px solid;
}

blockquote {
  background: var(--block-bg-color);
  border: 1px solid var(--block-border-color);
  border-left: 0.25em solid var(--block-border-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p {
  display: inline;
}

ul.posts-list {
  list-style: none;
  padding-left: 0;

  a.link-target::before {
    content: "🔗 ";
  }
}
