<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="me" href="https://hachyderm.io/@347Online" />
        <title>{{ title }}
            {% if title != "347Online.me" %}| 347Online.me{% endif %}
        </title>
    </head>
    <body>
        <header>
            {% block before %}<h1>{{ title }}</h1>{% endblock %}
        </header>
        {% block content %}{{ content | safe }}{% endblock %}
        {% block more %}{% endblock %}
    </body>
</html>
