---
tags: blog
---

{% extends './text-post.njk' %}
{% block before %}
    {{ super() }}
    <strong>
        🔗
        <a href="{{ link }}">{{ title }}
            {% if via %}&mdash; via {{ via }}{% endif %}
        </a>
    </strong>
{% endblock %}
{% block content %}{{ super() }}{% endblock %}
{% block more %}{{ super() }}{% endblock %}
