---
tags: blog
---

{% extends './page.njk' %}
{% block content %}
    <header>
        <h1>
            🔗
            <a href="{{ link }}">{{ title }}
                {% if via %}&mdash; via {{ via }}{% endif %}
            </a>
        </h1>
    </header>
    {{ super() }}
{% endblock %}
{% block more %}{{ super() }}{% endblock %}
