{% extends './base.njk' %}
{% block content %}{{ super() }}{% endblock %}
{% block more %}
    {{ super() }}
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
    </nav>
{% endblock %}
