---
tags: blog
date: git Created
---

{% extends './page.njk' %}
{% block before %}
    {{ super() }}
    <p>
        <strong>
            <a href="{{ page.url }}">{{ page.date | postDate }}</a>
        </strong>
    </p>
{% endblock %}
{% block content %}<article>{{ super() }}</article>{% endblock %}
