---
permalink: assets/style.css
layout: false
---

{% include "css/enough.css" %}
{% include "css/style.css" %}
{% include "../node_modules/markdown-it-github-alerts/styles/github-base.css" %}
{% include "../node_modules/markdown-it-github-alerts/styles/github-colors-dark-class.css" %}
{% include "../node_modules/markdown-it-github-alerts/styles/github-colors-dark-media.css" %}
{% include "../node_modules/markdown-it-github-alerts/styles/github-colors-light.css" %}
